.Programmation{
    background-image:url(Programmation.webp)
}
.IA{
    background-image:url(IA.jpg)
}
.Developpement{
    background-image:url(Développement.webp)
}
.Cybersecurite{
    background-image:url(Cybersécurité.jpg)
}